<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/list_page_base.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

	<title>To-Do lists</title>
</head>
<body>
	<header id="top_bar" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #9f5c5c;">
		<div class="navbar-brand mr-0 mr-md-2">
			<img src="/static/images/dongbei.svg" width="68" height="36" viewBox="0 0 612 612" role="img" focusable="false" alt="logo">
		</div>
		<div class="navbar-nav-scroll">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item" id="li0">
					<a class="nav-item nav-link" href="/">HOME</a>
				</li>
				<li class="nav-item" id="li1">
					<a class="nav-item nav-link" href="#">LABORATORY</a>
				</li>
				<li class="nav-item" id="li2">
					<a class="nav-item nav-link disabled" href="#">MEDIA</a>
				</li>
				<li class="nav-item" id='li3'>
					<a class="nav-item nav-link" id="ref_to_blogs" href="/blogs/">BLOG</a>
				</li>
				<li class="nav-item" id='li4'>
					<a class="nav-item nav-link active" id="ref_to_lists" href="/lists/">TODO-LIST<span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item">
				<a class="nav-link p-2" id="manage_btn" href="" target="_blank" rel="noopener" aria-label="Slack"><span class="fa fa-cog"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link p-2" href="" id="share_btn" target="_blank" rel="noopener" aria-label="Slack"><span class="fa fa-share-alt"></span></a>
			</li>
		</ul>
		<div class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">Download</div>
	</header>
	<div class="container">

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<a class="navbar-brand" href="/lists/">Superlists</a>
				{% if user.email %}
				<ul class="nav navbar-nav navbar-right">
					<li class="navbar-text">Loged in as {{ user.email }}</li>
					<li><a href="{% url 'logout' %}">Log out</a></li>
				</ul>
				{% else %}
					<form class="navbar-form navbar-right" action="{% url 'send_login_email' %}" method="POST">
						<span>Enter email to log in :</span>
						<input class="form-control" type="text" name="email"/>
						{% csrf_token %}
					</form>
				{% endif %}
			</div>
		</nav>
		{% if messages %}
			<div class="row">
				<div class="col-md-8">
					{% for message in messages %}
						{% if message.level_tag == 'success' %}
							<div class="alert alert-success">{{ message }}</div>
						{% else %}
							<div class="alert alert-warning">{{ message }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col-md-6 col-md-offset-3 jumbotron">
				<div class="text-center">
					<h1>{% block header_text %}{% endblock %}</h1>
					<form method="POST" action="{% block form_action %}{% endblock %}">
						{{ form.text }}
						{% csrf_token %}
						{% if form.errors %}
							<div class="form-group has-error">
								<div class="help-block">{{ form.text.errors }}</div>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3 jumbotron">
				{% block table %}
				{% endblock %}
			</div>
		</div>
	</div>
	<script src="/static/jquery-3.4.1.min.js"></script>
	<script src="/static/list.js"></script>

	<script>

$(document).ready(function () {
	window.Superlists.initialize();
});

	</script>

</body>
</html>
