<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/site_index_base.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

	<title>qicai21</title>
</head>
<body>
	<header id="top_bar" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #9f5c5c;">
		<div class="navbar-brand mr-0 mr-md-2">
			<img src="/static/images/dongbei.svg" width="68" height="36" viewBox="0 0 612 612" role="img" focusable="false" alt="logo">
		</div>
		<div class="navbar-nav-scroll">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item" id="li0">
					<a class="nav-item nav-link active" href="#">HOME<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#">LABORATORY</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link disabled" href="#">MEDIA</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" id="ref_to_blogs" href="/blogs/">BLOG</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" id="ref_to_lists" href="/lists/">TODO-LIST</a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" id="login-nav">
			<li class="nav-item">
				<a class="nav-link p-2" href="" id="github_btn" target="_blank" rel="noopener" aria-label="Slack"><i class="fa fa-github fa-2x"></i></a>
			</li>
			<li class="nav-item">
				<a class="nav-link p-2" href="" id="share_btn" target="_blank" rel="noopener" aria-label="Slack"><i class="fa fa-share-alt fa-2x"></i></a>
			</li>
			<li class="nav-item">
				{% if user.email %}
					<ul class="nav navbar-nav navbar-right">
						<li class="navbar-text">Loged in as {{ user.email }}</li>
						<li class="nav-item p-2"><a href="{% url 'logout' %}">Log out</a></li>
					</ul>
				{% else %}
					<form class="navbar-form navbar-right" action="{% url 'send_login_email' %}" method="POST">
						<input class="form-control" type="text" name="email" placeholder="enter email to login"/>
						{% csrf_token %}
					</form>
				{% endif %}
			</li>
		</ul>

		{% if messages %}
			<div class="row">
				<div class="col-md-8">
					{% for message in messages %}
						{% if message.level_tag == 'success' %}
							<div class="alert alert-success">{{ message }}</div>
						{% else %}
							<div class="alert alert-warning">{{ message }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</header>

	{% block main_content %}{% endblock %}

</body>
</html>
